@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: auto !important;
  font-weight: 300;
  color: #6d758d;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

a:focus, .btn:focus {
  outline: none;
  outline-offset: 0px;
}

a:hover, a:focus {
  text-decoration: none;
}

